*.bat
*.sh
/*/
LICENSE.txt
CHANGELOG

!/src/
/src/minecraft/*

!/src/minecraft/icbm/
!/src/minecraft/dan200/
!/src/minecraft/chb/
!/src/minecraft/ic2/
!/src/minecraft/buildcraft/
!/src/minecraft/railcraft/
!/src/minecraft/atomicscience/
!/src/minecraft/universalelectricity/
!/resources/icbm/
!info.txt
!mcmod.info
!publish.bat
!include.bat
!/README