/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*
*.bat
*.sh
7za.exe
CHANGELOG
LICENSE.txt

/src/common/universalelectricity/
/src/minecraft/*
/src/minecraft/universalelectricity/
/src/minecraft_server/*
/src/common/*

!/src/minecraft/icbm/
!/src/common/icbm/
!/src/minecraft/atomicscience/
!/src/common/atomicscience/
!/resources/*
!info.txt
!mcmod.info

!/README
!ICBM_Builder.bat