*.bat
*.sh
/*/
LICENSE.txt
CHANGELOG
Thumbs.db

!/src/
/src/minecraft/*

!/src/minecraft/icbm/
!/src/minecraft/dan200/
!/src/minecraft/mffs/
!/src/minecraft/ic2/
!/src/minecraft/buildcraft/
!/src/minecraft/railcraft/
!/src/minecraft/atomicscience/
!/src/minecraft/universalelectricity/
!/resources/
!info.txt
!mcmod.info
!publish_local.bat
!publish.bat
!include.bat
!/README