[submodule "Dark-Library"]
	path = Dark-Library
url=https://github.com/DarkGuardsman/Dark-Library
[submodule "Modding-Library"]
	path = Modding-Library
	url = git@github.com:calclavia/Modding-Library.git
[submodule "Basic-Components"]
	path = Basic-Components
	url = git://github.com/calclavia/Basic-Components.git